/*General*/

.information {
	padding: 5px;
	background-color: #aaa;
	border: 1px dashed #fff;
}

.float_right
{
	float: right;
	margin: 0 0 10px 10px;
	padding: 2px;
}

.float_left
{
	float: left;
	margin: 0 0 10px 10px;
	padding: 2px;
}

div.float_image {
	height: 0px;
	width: 0px;
}

img.float_right
{
	float: right;
	margin: 0 0 10px 10px;
	border: 1px solid #666;
	padding: 2px;
}

img.border
{
	border: 1px solid #666;
	padding: 2px;
}

.indent {
	padding-left: 2em;
}

img.blank {
	border: none;
	text-decoration: none;
}

a.blank {
	color: inherit;
	text-decoration: none;
}

/*Gerneral - Fonts*/

font.textish
{
    font-family: Georgia, serif;
    font-style: italic;
    color: #444444;
    letter-spacing: 1.25px;
    line-height: 1.5;
    padding: 5px;
    margin: auto 15px;
}

font.textishe
{
    font-family: Georgia, serif;
    font-style: italic;
    color: #444444;
    letter-spacing: 1.25px;
    line-height: 1.5;
    padding: 5px;
    margin: auto;
}

font.linkish
{
    font-family: Georgia, serif;
    font-style: italic;
    color: #000000;
    letter-spacing: 1.25px;
    line-height: 1.5;
    padding: 5px;
    margin: auto 15px;
}

/*Item Plugin*/

.item_container {
	width: 350px;
	height: 65px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 0px;
	margin-right: 15px;
	background-color: #fffaaa;
	border: 2px solid #fff444;
}

/*Video Plugin*/

#video_player {

}

#video_playlist {
	margin-bottom: 3px;
	height: 334px;
	width: 300px;
	margin-left: 10px;
	padding: 10px;
	background-color: #f1f1f1;
	border: 2px solid #e5e5e5;
}

/*Playlist*/

#video_playlist ul {
	margin-top: 0;
	padding-left: 0;
	margin-left: 0;
	border-bottom: 1px solid #e5e5e5;
}

#video_playlist ul li {
	list-style: none;
	margin: 0;
	padding: 0.25em;
	border-top: 1px solid #e5e5e5;
}

#video_playlist ul li a {
	color: #444;
	text-decoration: none;
}

.video_playlist_scroll {
	height: 255px;
	width: 295;
	overflow: auto;
}

/*For Shows, Collections, and Episodes Table*/

.table_link {
	color: #444;
	text-decoration: underline;
	display: inline;
	font-size: 20px;
}

.restricted_link {
	color: #ff0000;
	text-decoration: underline;
	display: inline;
	font-size: 20px;
}

.table_text_right {
	text-align: right;
}

.table_text_center {
	text-align: center;
}

/*Shows Table shows.php*/

.show_table {
	height: 100px;
	font-size: 12px;
}

.show_title {
	width: 225px;
}

.show_author {
	width: 100px;
}

.show_collections {
	width: 100px;
}

.show_description {
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
}

.show_cover {
	width: 125px;
}

.show_item {

}

.show_text_right {
	text-align: right;
}

/*Collection Table collections.php*/

.collection_table {
	height: 100px;
	font-size: 12px;
}

.collection_title {
	width: 225px;
}

.collection_show {
	width: 125px;
}

.collection_description {
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
}

.collection_cover {
	width: 125px;
}

.collection_item {

}

.collection_text_right {
	text-align: right;
}

/*Episode Table episodes.php*/

.episode_table {
	height: 100px;
	font-size: 12px;
}

.episode_title {
	width: 225px;
}

.episode_show {
	width: 125px;
}

.episode_collection {
	width: 125px;
}

.episode_description {
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
}

.episode_cover {
	width: 125px;
}

.episode_item {

}

.episode_text_right {
	text-align: right;
}

/*Comics Table Page*/

.comic_table {
	height: 100px;
	font-size: 12px;
}

.comic_title {
	width: 225px;
}

.comic_collection {
	width: 125px;
}

.comic_description {
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
}

.comic_publisher {
	width: 125px;
}

.comic_small_num {
	width: 50px;
}

.comic_cover {
	width: 90px;
}

.comic_item {

}

/*Login*/

.login_table_head {
	color: 333;
}

.login_table_body {
	color: 333;
	padding: 5px;
	background-color: #fffaaa;
	border: 1px solid #999;
}

/*Welcome Page*/

.subscription_list {
	margin-bottom: 3px;
	height: 334px;
	width: 300px;
	margin-left: 10px;
	padding: 10px;
	background-color: #f1f1f1;
	border: 2px solid #e5e5e5;
}

.subscription_list ul {
	margin-top: 0;
	padding-left: 0;
	margin-left: 0;
	border-bottom: 1px solid #e5e5e5;
}

.subscription_list ul li {
	list-style: none;
	margin: 0;
	padding: 0.25em;
	border-top: 1px solid #e5e5e5;
}

.subscription_list ul li a {
	color: #444;
	text-decoration: none;
}

.subscription_list_scroll {
	height: 255px;
	width: 295;
	overflow: auto;
}

/*Albums*/

.image_edit {
	top: -29px;
	left: 3px;
	background-color: #555;
	position: relative;
	float: bottom;
	width: 120px;
	height: 18px;
	padding: 2px;
	padding-right: 0px;
	opacity: 0.5;
	filter: alpha(opacity=50)
}

.thumb_image {
	height: 125px;
}

/*Comment Form*/

#CommentForm {
	color: #5895cb;
	padding: 3px;
	border: dotted 3px;
}
