/*Side of page Area*/

.div_l {

}

.div_r {

}

/*Main page Area*/

#master {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
}

/*Heading Area*/

#header {
	
}

.banner {

}

/*Navabar Area*/

#navabar_a {

}

.top_nav {

}

/*Content Area*/

#output {
	
}

.output_area {

}

/*Footer*/

#footer {

}

.footer_area {

}
