/*Side of page Area*/

.div_l {
	width: 890px;
	margin-left: auto;
	margin-right: auto;
	//background-image: url("images/dl.jpg");
	//background-repeat: repeat-y;
	//background-position: left;
}

.div_r {
	width: 890px;
	margin-left: auto;
	margin-right: auto;
	//background-image: url("images/dr.jpg");
	//background-repeat: repeat-y;
	//background-position: right;
}

/*Main page Area*/

body {
	background-color: #f1f1f1;
	margin: 0;
}

hr {
	height: 2px;
	background-color: #f1f1f1;
	border: none;
}

#master {
	color: #555;
	margin-top: 0px;
	padding: 10px;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	background-color: #ffffff;
}

/*Heading Area*/

#header {

}

.banner {
	color: #3366aa;
	padding: 5px;
	text-align: right;
	font-family: fantasy;
	font-size: 22px;
}

/*Navabar Area*/

#navabar_a {

}

.top_nav {

}

/*Content Area*/

#output {
	padding-top: 10px;
}

.output_area {

}

/*Footer*/

#footer {

}

.footer_area {
	border-top: 1px dotted #aaa;
	padding-top: 15px;
	margin-top: 25px;
	text-align: center;
}

.footer_area a {
	color: #333;
}

.sponsor_left {
	float: left;
	height: 35px;
	overflow: show;
	padding-top: 30px;
}

.sponsor_right {
	float: right;
	height: 35px;
	overflow: show;
	padding-top: 30px;
}


/*General*/
a {
	color: #333;
}

h3 {
	color: #3366aa;
}

span.center {
	width: 100%;
	float: right;
	text-align: center;
}

div.center {
	float: center;
	text-align: center;
}